agate==1.7.0
attrs==23.2.0
Babel==2.15.0
betterproto==1.2.5
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.3
colorama==0.4.6
dbt-core==1.4.9
dbt-duckdb==1.4.0
dbt-excel==1.4.0rc2
dbt-extractor==0.4.1
duckdb==0.10.2
et-xmlfile==1.1.0
future==1.0.0
grpclib==0.4.7
h2==4.1.0
hologram==0.0.16
hpack==4.0.0
hyperframe==6.0.1
idna==3.7
isodate==0.6.1
Jinja2==3.1.2
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
leather==0.4.0
Logbook==1.5.3
MarkupSafe==2.1.5
mashumaro==3.3.1
minimal-snowplow-tracker==0.0.2
msgpack==1.0.8
multidict==6.0.5
networkx==2.8.8
numpy==1.26.4
openpyxl==3.1.2
packaging==24.0
pandas==1.5.3
parsedatetime==2.4
pathspec==0.10.3
pyarrow==16.0.0
pycparser==2.22
python-dateutil==2.8.2
python-slugify==8.0.4
pytimeparse==1.1.8
pytz==2024.1
PyYAML==6.0.1
referencing==0.35.1
requests==2.31.0
rpds-py==0.18.0
six==1.16.0
sqlparse==0.4.3
stringcase==1.2.0
text-unidecode==1.3
typing_extensions==4.11.0
tzdata==2024.1
urllib3==2.2.1
Werkzeug==2.3.8
